.circuitos__sedes__carousel
    .carousel
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/abuDabi.jpg", alt="" class="imgCarousel" width= "900")
            .info.black-text
                span Pais: Emiratos Árabes Unidos
                span Ciudad: Abu Dabi
                span Circuito: Yas Marina
                span Vueltas: 55
                span Longitud: 5,554 km
                span Distancia Total: 305,355 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/australia.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Australia
                span Ciudad: Melbourne
                span Circuito: Albert Park
                span Vueltas: 58
                span Longitud: 5,303 km
                span Distancia Total: 307,574 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/azerbajian.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Azerbaiyán
                span Ciudad: Baku
                span Circuito: Baku City 
                span Vueltas: 51
                span Longitud: 6,003 km
                span Distancia Total: 306,049 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/baherien.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Bahrain
                span Ciudad: Sakhir
                span Circuito: Bahrain International
                span Vueltas: 57
                span Longitud: 5,412 km
                span Distancia Total: 308,238 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/belgica.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Bélgica
                span Ciudad: Spa
                span Circuito: Spa-Francorchamps
                span Vueltas: 44
                span Longitud: 7,004 km
                span Distancia Total: 308,052 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/brasil.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Brasil
                span Ciudad: SaoPaulo
                span Circuito: José Carlos Pace
                span Vueltas: 71
                span Longitud: 4,309 km
                span Distancia Total: 305,909 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/canada.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Canadá
                span Ciudad: Montreal
                span Circuito: Gilles-Villeneuve
                span Vueltas: 70
                span Longitud: 4,361 km
                span Distancia Total: 305,270 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/china.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: China
                span Ciudad: Shanghai
                span Circuito: Shanghai International
                span Vueltas: 56
                span Longitud: 5,451 km
                span Distancia Total: 305,066 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/españa.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: España
                span Ciudad: Barcelona
                span Circuito: Circuit de Catalunya
                span Vueltas: 66
                span Longitud: 4,665 km
                span Distancia Total: 307,104 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/hungria.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Hungría
                span Ciudad: Budapest
                span Circuito: Hungaroring
                span Vueltas: 70
                span Longitud: 4,381 km
                span Distancia Total: 306,630 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/italia.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Italia
                span Ciudad: Monza
                span Circuito: Autodromo di Monza
                span Vueltas: 53
                span Longitud: 5,793 km
                span Distancia Total: 306,720 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/japon.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Japón
                span Ciudad: Suzuka
                span Circuito: Suzuka
                span Vueltas: 53
                span Longitud: 5,807 km
                span Distancia Total: 307,471 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/malasia.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Malasia
                span Ciudad: Kuala Lumpur
                span Circuito: Sepang International
                span Vueltas: 56
                span Longitud: 5,543 km
                span Distancia Total: 310,408 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/mexico.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais:  México
                span Ciudad: Ciudad de México
                span Circuito: Autódromo Hermanos Rodríguez
                span Vueltas: 69
                span Longitud: 4,421 km
                span Distancia Total: 305,409 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/monaco.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Mónaco
                span Ciudad:Mónaco
                span Circuito: Montecarlo
                span Vueltas: 78
                span Longitud: 3,340 km
                span Distancia Total: 260,520 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/rusia.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Rusia
                span Ciudad: Sochi
                span Circuito: Sochie International Street Circuit
                span Vueltas: 53
                span Longitud: 5,853 km
                span Distancia Total: 310,209 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/singapur.jpg", alt="" class="imgCarousel")
            .info.black-text
                span Pais: Singapur
                span Ciudad: Singapur
                span Circuito: Marina Bay
                span Vueltas: 61
                span Longitud: 5,073 km
                span Distancia Total: 309,316 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/uk.jpg", alt="" class="imgCarousel") 
            .info.black-text
                span Pais: Reino Unidos
                span Ciudad: Silverstone
                span Circuito: Silverstone
                span Vueltas: 60
                span Longitud: 5,141 km
                span Distancia Total: 308,355 km
         a(href="#!" class="carousel-item")
            img(src="images/circuitos/usa.jpg", alt="" class="imgCarousel")  
            .info.black-text
                span Pais: Estados Unidos
                span Ciudad: Austin
                span Circuito: Circuito de las Américas
                span Vueltas: 56
                span Longitud: 5,516 km
                span Distancia Total: 308,896 km