.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/mercedes.gif", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Mercedes
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Mercedes
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
                
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/redbull.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Red Bull Racing
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Red Bull Racing
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
                
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/ferrari.png", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Scuderia Ferrari
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Scuderia Ferrari
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
    
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/forzeIndia.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text  Force India
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Sahara Force India
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
    
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/williams.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Wiliams Racing
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Williams Racing
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
                
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/mclaren.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text McLaren Honda
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text McLaren Honda
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
        
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/toroRoso.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Scuderia Toro Rosso
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Scuderia Toro Rosso
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.
                
.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/hass.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Haas F1 Team
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Haas F1 Team
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.


.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/renault.jpg", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Renault Sport F1
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Renault Sport F1
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.


.escuderias__equipos__item
                    .card.blue-grey.darken-1.z-depth-4
                        .card-image.waves-effect.waves-block.waves-light
                             img(src="images/equipos/sauber.png", alt="" class="activator imgTeam")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Sauber F1 Team
                                i.material-icons.right.white-text view_agenda
                            p 
                                a(href="#!" class="white-text activator") Ver más
                        .card-reveal.blue-grey.darken-1
                            span.card-title.activator.grey-text.text-darken-4 
                                span.white-text Sauber F1 Team
                                i.material-icons.right close
                            p.white-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis consequatur aperiam corrupti neque, explicabo asperiores est tenetur voluptatum in optio praesentium aspernatur voluptas dolor quo, hic aliquam possimus reiciendis.


