.pilotos__pilotosPrincipales__poput
    
        ul(class="collapsible  .z-depth-4" data-collapsible="accordion")
            li.z-depth-4
                div.collapsible-header.blue-grey.darken-1.white-text Mercedes
                div.collapsible-body 
                    .info1
                        h3 Lewis Hamilton
                        img(src="images/pilotos/hamilton.jpg", alt="")
                    .info2
                        br
                        br
                        span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ex harum nemo! Magni ullam omnis eum voluptatibus quidem ipsam, at, obcaecati consectetur incidunt, inventore iusto reiciendis veritatis accusamus. Libero, mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro magni ipsa eveniet repudiandae quae enim maiores et necessitatibus accusantium repellat, dolorem. Amet, at. Sint, iste voluptates quasi expedita consequuntur?
                        br 
                        span  gnissimos praesentium iste aliquid. Cum officiis tempore laudantium natus illo, necessitatibus suscipit animi praesentium et eos provident voluptates, distinctio unde, vel veritatis?
            li.z-depth-4
                div.collapsible-header.blue-grey.darken-1.white-text Red Bull Racing
                div.collapsible-body 
                    .info1
                        h3 Daniel Ricciardo
                        img(src="images/pilotos/ricciardo.jpg", alt="")
                    .info2
                        br
                        br
                        span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ex harum nemo! Magni ullam omnis eum voluptatibus quidem ipsam, at, obcaecati consectetur incidunt, inventore iusto reiciendis veritatis accusamus. Libero, mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro magni ipsa eveniet repudiandae quae enim maiores et necessitatibus accusantium repellat, dolorem. Amet, at. Sint, iste voluptates quasi expedita consequuntur?
            li.z-depth-4
                div.collapsible-header.blue-grey.darken-1.white-text Ferrari
                div.collapsible-body 
                    .info1
                        h3 Sebastian Vettel
                        img(src="images/pilotos/vettel.jpg", alt="")
                    .info2
                        br
                        br
                        span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ex harum nemo! Magni ullam omnis eum voluptatibus quidem ipsam, at, obcaecati consectetur incidunt, inventore iusto reiciendis veritatis accusamus. Libero, mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro magni ipsa eveniet repudiandae quae enim maiores et necessitatibus accusantium repellat, dolorem. Amet, at. Sint, iste voluptates quasi expedita consequuntur?
            li.z-depth-4
                div.collapsible-header.blue-grey.darken-1.white-text Williams Racing
                div.collapsible-body 
                    .info1
                        h3 Felipe Massa
                        img(src="images/pilotos/massa.jpg", alt="")
                    .info2
                        br
                        br
                        span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ex harum nemo! Magni ullam omnis eum voluptatibus quidem ipsam, at, obcaecati consectetur incidunt, inventore iusto reiciendis veritatis accusamus. Libero, mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro magni ipsa eveniet repudiandae quae enim maiores et necessitatibus accusantium repellat, dolorem. Amet, at. Sint, iste voluptates quasi expedita consequuntur?
            li.z-depth-4
                div.collapsible-header.blue-grey.darken-1.white-text McLaren-Honda
                div.collapsible-body 
                    .info1
                        h3 James Button
                        img(src="images/pilotos/button.jpg", alt="")
                    .info2
                        br
                        br
                        span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ex harum nemo! Magni ullam omnis eum voluptatibus quidem ipsam, at, obcaecati consectetur incidunt, inventore iusto reiciendis veritatis accusamus. Libero, mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro magni ipsa eveniet repudiandae quae enim maiores et necessitatibus accusantium repellat, dolorem. Amet, at. Sint, iste voluptates quasi expedita consequuntur?